@wartek-id:registry=https://gitlab.com/api/v4/packages/npm/
'//gitlab.com/api/v4/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"

# Component Library
'//gitlab.com/api/v4/projects/25182406/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"

# Design Token Project
'//gitlab.com/api/v4/projects/24396089/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"
